<configurations>

    <configuration>
        <id>noarchive</id>
        <documentType>
            <type>com.soebes.supose.scan.document.ScanArchiveDocument</type>
            <extensions>
                <extension>zip</extension>
                <extension>jar</extension>
                <extension>tar</extension>
                <extension>tar.gz</extension>
                <extension>tar.bz2</extension>
                <extension>tgz</extension>
                <extension>tbz2</extension>
            </extensions>
        </documentType>
        <documentType>
            <type>com.soebes.supose.scan.document.ScanDefaultDocument</type>
            <extensions>
                <extension>c,h</extension>
                <extension>cpp,hpp,cxx,hxx</extension>
                <extension>m4</extension>
                <extension>txt</extension>
                <extension>ini</extension>
                <extension>po</extension>
                <extension>txi,texi,texinfo</extension>
                <extension>properties</extension>
                <extension>apt</extension>
                <extension>cmd,bat</extension>
                <extension>classpath,project</extension>
            </extensions>
        </documentType>
        <documentType>
            <type>com.soebes.supose.scan.document.ScanWordDocument</type>
            <extensions>
                <extension>doc,docx</extension>
            </extensions>
        </documentType>
        <documentType>
            <type>com.soebes.supose.scan.document.ScanExcelDocument</type>
            <extensions>
                <extension>xls,xlsx</extension>
            </extensions>
        </documentType>
        <documentType>
            <type>com.soebes.supose.scan.document.ScanPowerPointDocument</type>
            <extensions>
                <extension>ppt,pptx</extension>
            </extensions>
        </documentType>
        <documentType>
            <type>com.soebes.supose.scan.document.ScanPDFDocument</type>
            <extensions>
                <extension>pdf</extension>
            </extensions>
        </documentType>
        <documentType>
            <type>com.soebes.supose.scan.document.ScanJavaDocument</type>
            <extensions>
                <extension>java</extension>
            </extensions>
        </documentType>
        <documentType>
            <type>com.soebes.supose.scan.document.ScanXMLDocument</type>
            <extensions>
                <extension>xml,xsd,wsdl,xhtml</extension>
            </extensions>
        </documentType>
        <documentType>
            <type>com.soebes.supose.scan.document.ScanHTMLDocument</type>
            <extensions>
                <extension>html</extension>
            </extensions>
        </documentType>
        <documentType>
            <type>com.soebes.supose.scan.document.ScanRTFDocument</type>
            <extensions>
                <extension>rtf</extension>
            </extensions>
        </documentType>
        <documentType>
            <type>com.soebes.supose.scan.document.ScanODPDocument</type>
            <extensions>
                <extension>odp</extension>
            </extensions>
        </documentType>
        <documentType>
            <type>com.soebes.supose.scan.document.ScanODSDocument</type>
            <extensions>
                <extension>ods</extension>
            </extensions>
        </documentType>
        <documentType>
            <type>com.soebes.supose.scan.document.ScanODTDocument</type>
            <extensions>
                <extension>odt</extension>
            </extensions>
        </documentType>
    </configuration>

    <configuration>
        <id>archive</id>
        <configtype>
            <documentType>
                <type>com.soebes.supose.scan.document.ScanArchiveWithContentDocument</type>
                <extensions>
                    <extension>zip,jar,tar,tar.gz,tar.bz2,tgz,tbz2</extension>
                </extensions>
            </documentType>
        </configtype>
    </configuration>
</configurations>